.md-header__button.md-logo {

}

.md-header__button.md-logo > img {
    fill: #ffffff;
    height: auto;
    width: 14em;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

img {
    width: 50%;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: #e0e0e0 2px 2px;
}
